/* line 6, ../sass/step0_1.scss */
.v1 {
  width: 500px;
}

/* line 7, ../sass/step0_1.scss */
.v2 {
  width: 500px;
}

/* line 8, ../sass/step0_1.scss */
.v3 {
  width: 400px;
}

/* line 11, ../sass/step0_1.scss */
.v4 {
  color: #4d4d4d;
}

/* line 16, ../sass/step0_1.scss */
.v5 {
  width: 500px;
}

/* line 39, ../sass/step0_1.scss */
#nest1 > p {
  color: black;
  font-size: 14px;
}
/* line 42, ../sass/step0_1.scss */
#nest1 > p.notice {
  color: red;
}
