// /////////////////////////////////////////////////////////////////////////////
// @if
// /////////////////////////////////////////////////////////////////////////////
p {
	@if 1 + 1 == 2 { border: 1px solid;  }
	@if 5 < 3      { border: 2px dotted; }
	@if null       { border: 3px double; }
}

// /////////////////////////////////////////////////////////////////////////////
// @for
// /////////////////////////////////////////////////////////////////////////////
@for $i from 1 through 3{
	.item-#{$i}{ width: 2em * $i; }
}

// /////////////////////////////////////////////////////////////////////////////
// @each
// /////////////////////////////////////////////////////////////////////////////
@each $animal in puma, sea-slug, egret, salamander{
	.#{$animal}-icon{
		background-image: url('/images/#{$animal}.png');
	}
}

// /////////////////////////////////////////////////////////////////////////////
// @function
// /////////////////////////////////////////////////////////////////////////////
@function myFunc($n){
	@return $n + 100 + 'px';
}

.func{ width : myFunc(200); }

// /////////////////////////////////////////////////////////////////////////////
// @while
// /////////////////////////////////////////////////////////////////////////////
$i: 6;
@while $i > 0{
	.item-#{$i} { width: 2em * $i; }
	$i: $i - 2;
}

// /////////////////////////////////////////////////////////////////////////////
// @debug
// /////////////////////////////////////////////////////////////////////////////
// @debug 10em + 12em;

// /////////////////////////////////////////////////////////////////////////////
// @warn
// /////////////////////////////////////////////////////////////////////////////
@mixin adjust-location($x, $y) {
	@if unitless($x) {
		@warn "Assuming #{$x} to be in pixels";
	$x: 1px * $x;
	}
	@if unitless($y) {
		@warn "Assuming #{$y} to be in pixels";
		$y: 1px * $y;
	}
	position: relative; left: $x; top: $y;
}