// /////////////////////////////////////////////////////////////////////////////
// 変数
// /////////////////////////////////////////////////////////////////////////////
$width : 500px;

.v1{ width : $width }
.v2{ width : $width }
.v3{ width : $width - 100 }

$color : #000;
.v4{ color : lighten($color,30%) }
// 関数ってどんなのあるの？
// http://sass-lang.com/documentation/Sass/Script/Functions.html#lightness-instance_method

$key : width;
.v5{ #{$key}:$width }

// /////////////////////////////////////////////////////////////////////////////
// ネスト
// /////////////////////////////////////////////////////////////////////////////
// 
// <div id="nest1">
// 		<p class="notice">注意！</p>
// 		<p>テキストテキストテキストテキスト</p>
// </div>
// -----------------------------------------------------------------------------
// CSS
// #nest1{
// 		width  : 100%;
// 		height : 200px;
// }
// #nest1 > p{
// 		color     : black;
// 		font-size : 14px;
// }
// #nest1 .notice{color:red;}
// 
#nest1{
	> p{
		color     : black;
		font-size : 14px;
		&.notice{color : red;}
	}
}